---
import CarouselItem from '../components/CarouselItem.astro';
import Image from 'astro/components/Image.astro';
import BartysScreen from '../../public/BartyspaceScreen.png';
---

<div class="carousel pt-24 lg:pb-16">
  <div
    class="carousel__wrapper 3xl:h-[700px] flex h-[200px] w-full justify-center md:h-[300px] lg:h-[250px] xl:h-[400px] 2xl:h-[460px]">
    <CarouselItem
      pos="-2"
      buttonText="Bartyspace Labs"
      link="bartyspacelabs.netlify.app">
      <Image
        src={BartysScreen}
        alt="Screen from web Bartyspace Labs"
        loading={'eager'}
        class="w-full rounded-xl"
      />
    </CarouselItem>
    <CarouselItem
      pos="-1"
      buttonText="Bartyspace Labs"
      link="bartyspacelabs.netlify.app">
      <Image
        src={BartysScreen}
        alt="Screen from web Bartyspace Labs"
        loading={'eager'}
        class="w-full rounded-xl"
      />
    </CarouselItem>
    <CarouselItem
      pos="0"
      buttonText="Bartyspace Labs"
      link="bartyspacelabs.netlify.app">
      <Image
        src={BartysScreen}
        alt="Screen from web Bartyspace Labs"
        loading={'eager'}
        class="w-full rounded-xl"
      />
    </CarouselItem>
    <CarouselItem
      pos="1"
      buttonText="Bartyspace Labs"
      link="bartyspacelabs.netlify.app">
      <Image
        src={BartysScreen}
        alt="Screen from web Bartyspace Labs"
        loading={'eager'}
        class="w-full rounded-xl"
      />
    </CarouselItem>
    <CarouselItem
      pos="2"
      buttonText="Bartyspace Labs"
      link="bartyspacelabs.netlify.app">
      <Image
        src={BartysScreen}
        alt="Screen from web Bartyspace Labs"
        loading={'eager'}
        class="w-full rounded-xl"
      />
    </CarouselItem>
  </div>
</div>
