---
import GoogleTag from '../components/GoogleAnalytics.astro';
import siteConfig from '../config/site';
import {SEO} from 'astro-seo';
import {ViewTransitions} from 'astro:transitions';
import {Head} from 'astro-capo';
import '../styles/global.css';
export interface Props {
  title?: string | undefined;
  description?: string | undefined;
  openGraphImage?: {src: string; alt: string} | undefined;
}

const {title, description, openGraphImage} = Astro.props;

const {pathname} = Astro.url;

const {
  name: siteName,
  slogan: siteSlogan,
  description: siteDescription,
  url: siteUrl
} = siteConfig;

const cannonical = `${siteUrl}${pathname}`;
---

<html lang="en">
  <Head>
    <SEO
      charset="UTF-8"
      title={title!}
      titleTemplate={`%s | ${siteName}`}
      titleDefault={`${siteName} | ${siteSlogan}`}
      description={description ?? siteDescription}
      canonical={cannonical}
      openGraph={{
        basic: {
          title: title ?? siteSlogan,
          type: 'website',
          url: cannonical,
          image: openGraphImage?.src ?? '/BartyspaceScreen.png'
        },
        optional: {
          description: description ?? siteDescription,
          siteName
        },
        image: {
          alt: openGraphImage?.alt ?? siteName,
          width: 1200,
          height: 630
        }
      }}
      twitter={{
        card: 'summary_large_image'
      }}
      extend={{
        link: [
          {rel: 'sitemap', href: '/sitemap-index.xml'},
          {rel: 'icon', href: '/favicon..svg'}
        ],
        meta: [
          {name: 'viewport', content: 'width=device-width'},
          {name: 'robots', content: 'index'},
          {name: 'generator', content: Astro.generator}
        ]
      }}
    />
    <GoogleTag />
    <ViewTransitions />
  </Head>
  <body>
    <slot />
  </body>
</html>
