---
import Image from 'astro/components/Image.astro'
import '../styles/global.css'
import Project1 from '../../public/352cb5.png'
---

<section id="projects" class="w-screen bg-indigo-950 lg:max-h-screen">
	<h2 class="container w-52 pt-6 text-center text-3xl font-semibold text-white">My projects</h2>

	<div class="carousel mt-24">
		<div class="carousel__wrapper relative flex max-h-96 w-full justify-center">
			<div class="carousel__item flex-col rounded-xl border-2 p-4" data-pos="-2">
				<Image src={Project1} alt="Placeholder Image" class="w-full rounded-xl" />

				<div class="px-1 py-4">
					<a href="#" class="text-sky-400 hover:text-white">Look at me</a>
				</div>
			</div>
			<div class="carousel__item flex-col rounded-xl border-2 p-4" data-pos="-1">
				<Image src={Project1} alt="Placeholder Image" class="w-full rounded-xl object-cover" />

				<div class="px-1 py-4">
					<a href="#" class="text-sky-400 hover:text-white">Look at me</a>
				</div>
			</div>
			<div class="carousel__item flex-col rounded-xl border-2 p-4" data-pos="0">
				<Image src={Project1} alt="Placeholder Image" class="w-full rounded-xl object-cover" />

				<div class="px-1 py-4">
					<a href="#" class="text-sky-400 hover:text-white">Look at me</a>
				</div>
			</div>
			<div class="carousel__item flex-col rounded-xl border-2 p-4" data-pos="1">
				<Image src={Project1} alt="Placeholder Image" class="w-full rounded-xl object-cover" />

				<div class="px-1 py-4">
					<a href="#" class="text-sky-400 hover:text-white">Look at me</a>
				</div>
			</div>
			<div class="carousel__item flex-col rounded-xl border-2 p-4" data-pos="2">
				<Image src={Project1} alt="Placeholder Image" class="w-full rounded-xl object-cover" />

				<div class="px-1 py-4">
					<a href="#" class="text-sky-400 hover:text-white">Look at me</a>
				</div>
			</div>
		</div>
		<script is:inline>
			const carouselList = document.querySelector('.carousel__wrapper')
			const carouselItems = document.querySelectorAll('.carousel__item')
			const elems = Array.from(carouselItems)

			carouselList.addEventListener('click', function (event) {
				const newActive = event.target.closest('.carousel__item')
				if (!newActive || newActive.classList.contains('carousel__item_active')) {
					return
				}
				update(newActive)
			})

			function update(newActive) {
				const newActivePos = Number(newActive.dataset.pos)
				const current = elems.find((elem) => Number(elem.dataset.pos) === 0)
				const prev = elems.find((elem) => Number(elem.dataset.pos) === -1)
				const next = elems.find((elem) => Number(elem.dataset.pos) === 1)
				const first = elems.find((elem) => Number(elem.dataset.pos) === -2)
				const last = elems.find((elem) => Number(elem.dataset.pos) === 2)

				current.classList.remove('carousel__item_active')
				;[current, prev, next, first, last].forEach((item) => {
					const itemPos = Number(item.dataset.pos)
					item.dataset.pos = getPos(itemPos, newActivePos)
				})
				newActive.classList.add('carousel__item_active')
			}

			function getPos(current, active) {
				const diff = current - active
				if (Math.abs(current - active) > 2) {
					return -current
				}
				return diff
			}
		</script>
	</div>
	<div class="flex h-32 w-screen items-center bg-indigo-950">
		<hr class="h-[2px] w-2/3 translate-x-1/4 border-none bg-gradient-to-r from-transparent via-gray-500 to-transparent" />
	</div>
</section>
<!--
		<div class="flex flex-col items-center justify-center pt-24 xl:pt-56">
		<div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 sm:gap-x-10 lg:grid-cols-2 lg:gap-x-28 xl:grid-cols-4 xl:gap-x-14">
			<div class="max-w-72 rounded-lg border bg-zinc-700 bg-opacity-20 p-4 transition-all hover:scale-110">
				<Image src={Project1} alt="Placeholder Image" class="h-48 w-full rounded-md object-cover" />
				<div class="px-1 py-4">
					<div
						class="mb-2 bg-gradient-to-r from-emerald-400 via-emerald-300 to-emerald-400 bg-clip-text text-xl font-bold text-transparent"
					>
						Project title
					</div>
					<p class="text-base text-white">This is a simple project card example using Tailwind CSS.</p>
				</div>
				<div class="px-1 py-4">
					<a href="#" class="text-sky-400 hover:text-white">Look at me</a>
				</div>
			</div>
			<div class="max-w-72 rounded-lg border bg-zinc-700 bg-opacity-20 p-4 transition-all hover:scale-110">
				<Image src={Project1} alt="Placeholder Image" class="h-48 w-full rounded-md object-cover" />
				<div class="px-1 py-4">
					<div
						class="mb-2 bg-gradient-to-r from-emerald-400 via-emerald-300 to-emerald-400 bg-clip-text text-xl font-bold text-transparent"
					>
						Project title
					</div>
					<p class="text-base text-white">This is a simple project card example using Tailwind CSS.</p>
				</div>
				<div class="px-1 py-4">
					<a href="#" class="text-sky-400 hover:text-white">Look at me</a>
				</div>
			</div>
			<div class="max-w-72 rounded-lg border bg-zinc-700 bg-opacity-20 p-4 transition-all hover:scale-110">
				<Image src={Project1} alt="Placeholder Image" class="h-48 w-full rounded-md object-cover" />
				<div class="px-1 py-4">
					<div
						class="mb-2 bg-gradient-to-r from-emerald-400 via-emerald-300 to-emerald-400 bg-clip-text text-xl font-bold text-transparent"
					>
						Project title
					</div>
					<p class="text-base text-white">This is a simple project card example using Tailwind CSS.</p>
				</div>
				<div class="px-1 py-4">
					<a href="#" class="text-sky-400 hover:text-white">Look at me</a>
				</div>
			</div>
			<div class="max-w-72 rounded-lg border bg-zinc-700 bg-opacity-20 p-4 transition-all hover:scale-110">
				<Image src={Project1} alt="Placeholder Image" class="h-48 w-full rounded-md object-cover" />
				<div class="px-1 py-4">
					<div
						class="mb-2 bg-gradient-to-r from-emerald-400 via-emerald-300 to-emerald-400 bg-clip-text text-xl font-bold text-transparent"
					>
						Project title
					</div>
					<p class="text-base text-white">This is a simple project card example using Tailwind CSS.</p>
				</div>
				<div class="px-1 py-4">
					<a href="#" class="text-sky-400 hover:text-white">Look at me</a>
				</div>
			</div>
		</div>
	</div>
 -->
